<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# M·ª•c l·ª•c

# I. C√†i ƒë·∫∑t

## C√†i ƒë·∫∑t th∆∞ vi·ªán

In [3]:
!pip install -U vnstock

Collecting vnstock
  Downloading vnstock-3.2.6-py3-none-any.whl.metadata (42 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 42.5/42.5 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from vnstock) (2.32.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (from vnstock) (4.13.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from vnstock) (2.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (from vnstock) (0.13.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (from vnstock) (3.1.5)
Requirement already satisfied: pydantic in /usr/local/lib/python3.11/dist-packages (from vnstock) (2.11.7)
Requirement already satisfied: psutil in /usr/local/lib/python3.11/dist-packages (from vnstock) (5.9.5)
Collecting fake_useragent (from vnstock)
  Downloading fake_useragent-2.2.0-py3-none-any.whl.metadata (17 kB)
Collecting vnstock_ezchart (from vnstock)
  Downloading vnstock_ezchart-0.0.2-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from vnstock) (8.2.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from vnstock) (24.2)
Requirement already satisfied: importlib-metadata>=1.0 in /usr/local/lib/python3.11/dist-packages (from vnstock) (8.7.0)
Requirement already satisfied: tenacity in /usr/local/lib/python3.11/dist-packages (from vnstock) (8.5.0)
Collecting vnai>=2.0.3 (from vnstock)
  Downloading vnai-2.0.4-py3-none-any.whl.metadata (988 bytes)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata>=1.0->vnstock) (3.23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->vnstock) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->vnstock) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->vnstock) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->vnstock) (2025.7.9)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->vnstock) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->vnstock) (4.14.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl->vnstock) (2.0.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas->vnstock) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->vnstock) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->vnstock) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->vnstock) (2025.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->vnstock) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.11/dist-packages (from pydantic->vnstock) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->vnstock) (0.4.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.11/dist-packages (from seaborn->vnstock) (3.10.0)
Collecting squarify (from vnstock_ezchart->vnstock)
  Downloading squarify-0.4.4-py3-none-any.whl.metadata (600 bytes)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.11/dist-packages (from vnstock_ezchart->vnstock) (1.9.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (1.4.8)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn->vnstock) (3.2.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->vnstock) (1.17.0)
Downloading vnstock-3.2.6-py3-none-any.whl (121 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 121.8/121.8 kB 4.8 MB/s eta 0:00:00
Downloading vnai-2.0.4-py3-none-any.whl (32 kB)
Downloading fake_useragent-2.2.0-py3-none-any.whl (161 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 161.7/161.7 kB 10.5 MB/s eta 0:00:00
Downloading vnstock_ezchart-0.0.2-py3-none-any.whl (14 kB)
Downloading squarify-0.4.4-py3-none-any.whl (4.1 kB)
Installing collected packages: squarify, fake_useragent, vnai, vnstock_ezchart, vnstock
Successfully installed fake_useragent-2.2.0 squarify-0.4.4 vnai-2.0.4 vnstock-3.2.6 vnstock_ezchart-0.0.2

1. Ch·ª©ng kho√°n Vi·ªát Nam [t·∫°i ƒë√¢y](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Ch·ª©ng kho√°n qu·ªëc t·∫ø: Forex, Crypto, Ch·ªâ s·ªë [t·∫°i ƒë√¢y](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. D·ªØ li·ªáu Th·ªã tr∆∞·ªùng, h√†ng ho√° [t·∫°i ƒë√¢y](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Bi·ªÉu di·ªÖn d·ªØ li·ªáu tr·ª±c quan t·ª´ Vnstock3 [t·∫°i ƒë√¢y](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

## N·∫°p th∆∞ vi·ªán l·∫ßn ƒë·∫ßu

> B·∫°n c√≥ th·ªÉ n·∫°p to√†n b·ªô c√°c module c·ªßa th∆∞ vi·ªán v√†o m√¥i tr∆∞·ªùng l√†m vi·ªác n·∫øu ch∆∞a bi·∫øt r√µ m√¨nh c·∫ßn g√¨ ho·∫∑c ch·ªçn t·ª´ng module ri√™ng bi·ªát ƒë·ªÉ n·∫°p v√†o khi ƒë√£ quen thu·ªôc.

In [4]:
## N·∫°p Wrapper l√†m vi·ªác ch√≠nh (UI ch√≠nh c·ªßa th∆∞ vi·ªán)
from vnstock import Vnstock

In [5]:
## C√≥ th·ªÉ g·ªçi c√°c class chi ti·∫øt trong th∆∞ vi·ªán thay v√¨ s·ª≠ d·ª•ng c·∫•p cao nh·∫•t l√† Vnstock
from vnstock import Listing, Quote, Company, Finance, Trading, Screener

In [6]:
## B·∫°n c≈©ng c√≥ th·ªÉ g·ªçi c√°c class trong theo v·ªã tr√≠ chi ti·∫øt c·ªßa ngu·ªìn d·ªØ li·ªáu
from vnstock.explorer.vci import Listing, Quote, Company, Finance, Trading

# ho·∫∑c

from vnstock.explorer.tcbs import Quote, Company, Finance, Trading, Screener

# II. Truy xu·∫•t d·ªØ li·ªáu - CK Vi·ªát Nam

* Kh·ªüi t·∫°o ƒë·ªëi t∆∞·ª£ng stock ƒë·ªÉ d√πng cho t·∫•t c·∫£ thao t√°c truy xu·∫•t d·ªØ li·ªáu ch·ª©ng kho√°n v·ªÅ sau. Lu·ªìng c√¥ng vi·ªác minh ho·∫° d∆∞·ªõi ƒë√¢y gi·∫£ ƒë·ªãnh b·∫°n b·∫Øt ƒë·∫ßu v·ªõi 1 m√£ ch·ª©ng kho√°n c·∫ßn ph√¢n t√≠ch, m·∫∑c ƒë·ªãnh l√† VN30F1M. B·∫°n c√≥ th·ªÉ thay ƒë·ªïi sang m√£ b·∫•t k·ª≥ b·∫±ng c√°ch nh·∫≠p tham s·ªë `symbol` t·∫°i h√†m ch·ª©c nƒÉng thay v√¨ kh·ªüi t·∫°o l·∫°i ƒë·ªëi t∆∞·ª£ng. V√≠ d·ª•, m√£ `VN30F1M` ƒë∆∞·ª£c g√°n khi t·∫°o ƒë·ªëi t∆∞·ª£ng, nh∆∞ng khi g·ªçi d·ªØ li·ªáu gi√° l·ªãch s·ª≠, b·∫°n c√≥ th·ªÉ c·∫≠p nh·∫≠t m√£ m·ªõi l√† `ACB` thay v√¨ kh·ªüi t·∫°o l·∫°i ƒë·ªëi t∆∞·ª£ng m·ªôt c√°ch b·∫•t ti·ªán: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Ch·ªçn ngu·ªìn d·ªØ li·ªáu thu·ªôc danh s√°ch ƒë∆∞·ª£c h·ªó tr·ª£: VCI, TCBS cho ch·ª©ng kho√°n trong n∆∞·ªõc, MSN cho d·ªØ li·ªáu ch·ª©ng kho√°n qu·ªëc t·∫ø v√† s√†n HOSE.

In [9]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='FPT', source='TCBS')

2025-07-12 04:09:08 - vnstock.common.data.data_explorer - INFO - TCBS kh√¥ng cung c·∫•p th√¥ng tin danh s√°ch. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ VCI.
INFO:vnstock.common.data.data_explorer:TCBS kh√¥ng cung c·∫•p th√¥ng tin danh s√°ch. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ VCI.

## Listing: Li·ªát k√™ danh s√°ch ch·ª©ng kho√°n

### Danh s√°ch t·∫•t c·∫£ m√£ CK ni√™m y·∫øt (ƒë∆°n gi·∫£n)

In [10]:
# VCI l√† ngu·ªìn d·ªØ li·ªáu t·ª´ CK Vietcap b√™n c·∫°nh ngu·ªìn t·ª´ TCBS
stock.listing.all_symbols()

ConnectionError: Failed to fetch data: 403 - Forbidden

### Li·ªát k√™ m√£ CP theo s√†n (ƒë·∫ßy ƒë·ªß)

In [ ]:
# D·ªØ li·ªáu bao g·ªìm t·∫•t c·∫£ c√°c m√£ kh√¥ng k·ªÉ ƒëang ni√™m y·∫øt hay kh√¥ng
stock.listing.symbols_by_exchange()

,symbol,exchange,type,organ_short_name,organ_name
0,YTC,UPCOM,STOCK,XNK Y t·∫ø TP.HCM,C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...
1,YEG,HSX,STOCK,T·∫≠p ƒëo√†n Yeah1,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1
2,YBM,HSX,STOCK,Kho√°ng s·∫£n CN Y√™n B√°i,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i
3,YBC,UPCOM,STOCK,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i
4,XPH,UPCOM,STOCK,X√† ph√≤ng H√† N·ªôi,C√¥ng ty C·ªï ph·∫ßn X√† ph√≤ng H√† N·ªôi
...,...,...,...,...,...
2753,AAS,UPCOM,STOCK,Ch·ª©ng kho√°n SmartInvest,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n SmartInvest
2754,AAM,HSX,STOCK,Th·ªßy s·∫£n Mekong,C√¥ng ty C·ªï Ph·∫ßn Th·ªßy S·∫£n MeKong
2755,AAH,UPCOM,STOCK,Than H·ª£p Nh·∫•t,C√¥ng ty C·ªï ph·∫ßn H·ª£p Nh·∫•t
2756,AAA,HSX,STOCK,An Ph√°t Bioplastics,C√¥ng ty C·ªï ph·∫ßn Nh·ª±a An Ph√°t Xanh
2757,A32,UPCOM,STOCK,C√¥ng ty 32,C√¥ng ty C·ªï ph·∫ßn 32

### Li·ªát k√™ m√£ CP theo ng√†nh icb

In [ ]:
stock.listing.symbols_by_industries()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,BMK,C√¥ng ty C·ªï Ph·∫ßn K·ªπ thu·∫≠t Nhi·ªát M√®o ƒêen,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,CT,2000,2300,2350,2353
1,LPT,C√¥ng ty C·ªï ph·∫ßn Th∆∞∆°ng m·∫°i v√† S·∫£n xu·∫•t L·∫≠p Ph∆∞...,T∆∞ v·∫•n & H·ªó tr·ª£ Kinh doanh,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,ƒê√†o t·∫°o & Vi·ªác l√†m,CT,2000,2700,2790,2793
2,ACB,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u,Ng√¢n h√†ng,Ng√¢n h√†ng,Ng√¢n h√†ng,NH,8301,8300,8350,8355
3,CAG,C√¥ng ty C·ªï ph·∫ßn C·∫£ng An Giang,V·∫≠n t·∫£i,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,"Kho b√£i, h·∫≠u c·∫ßn v√† b·∫£o d∆∞·ª°ng",CT,2000,2700,2770,2777
4,AGR,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n AGRIBANK,D·ªãch v·ª• t√†i ch√≠nh,D·ªãch v·ª• t√†i ch√≠nh,M√¥i gi·ªõi ch·ª©ng kho√°n,CK,8000,8700,8770,8777
...,...,...,...,...,...,...,...,...,...,...
1587,XMD,C√¥ng ty C·ªï ph·∫ßn Xu√¢n Mai - ƒê·∫°o T√∫,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,CT,2000,2300,2350,2353
1588,CQT,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng Qu√°n Tri·ªÅu VVMI,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,CT,2000,2300,2350,2353
1589,XPH,C√¥ng ty C·ªï ph·∫ßn X√† ph√≤ng H√† N·ªôi,H√†ng c√° nh√¢n,H√†ng c√° nh√¢n & Gia d·ª•ng,H√†ng c√° nh√¢n,CT,3000,3700,3760,3767
1590,XMP,C√¥ng ty C·ªï ph·∫ßn Th·ªßy ƒëi·ªán Xu√¢n Minh,S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,"ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë·ªët",S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,CT,7000,7500,7530,7535
1591,XHC,C√¥ng ty C·ªï ph·∫ßn Xu√¢n H√≤a Vi·ªát Nam,H√†ng gia d·ª•ng,H√†ng c√° nh√¢n & Gia d·ª•ng,Thi·∫øt b·ªã gia d·ª•ng,CT,3000,3700,3720,3726

### Danh s√°ch c·ªï phi·∫øu theo nh√≥m

In [ ]:
# Li·ªát k√™ t·∫•t c·∫£ m√£ ch·ª©ng kho√°n theo nh√≥m ph√¢n lo·∫°i. V√≠ d·ª• HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (m√£ ch·ªâ s·ªë h·ª£p ƒë·ªìng t∆∞∆°ng lai), CW (ch·ª©ng quy·ªÅn)
stock.listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### Danh s√°ch m√£ ng√†nh theo m√£ icb

In [ ]:
stock.listing.industries_icb()

                 icb_name               en_icb_name icb_code  level
0        S·∫£n xu·∫•t D·∫ßu kh√≠       Oil & Gas Producers     0530      3
1                 D·∫ßu kh√≠                 Oil & Gas     0500      2
2                H√≥a ch·∫•t                 Chemicals     1300      2
3       T√†i nguy√™n C∆° b·∫£n           Basic Resources     1700      2
4    X√¢y d·ª±ng v√† V·∫≠t li·ªáu  Construction & Materials     2300      2
..                    ...                       ...      ...    ...
150            Vi·ªÖn th√¥ng        Telecommunications     6000      1
151    Ti·ªán √≠ch C·ªông ƒë·ªìng                 Utilities     7000      1
152             T√†i ch√≠nh                Financials     8000      1
153             Ng√¢n h√†ng                     Banks     8301      1
154   C√¥ng ngh·ªá Th√¥ng tin                Technology     9000      1

[155 rows x 4 columns]

## Quote: Gi√° ch·ª©ng kho√°n

#### Gi√° l·ªãch s·ª≠

##### C·ªï phi·∫øu

In [13]:
df = stock.quote.history(start='2025-01-01', end='2025-06-30', interval='1D')
df

          time    open    high     low   close   volume
0   2024-06-28  130.76  130.76  128.40  128.50  6641381
1   2024-07-01  128.40  128.40  126.53  126.63  6386361
2   2024-07-02  126.63  130.07  125.54  126.04  6735345
3   2024-07-03  128.50  130.76  128.10  128.99  7642345
4   2024-07-04  130.07  133.72  130.07  133.72  8129152
..         ...     ...     ...     ...     ...      ...
245 2025-06-24  116.30  117.00  116.30  116.50  4281302
246 2025-06-25  117.00  119.40  117.00  117.10  6014965
247 2025-06-26  118.00  118.30  116.60  117.00  4141284
248 2025-06-27  117.00  118.30  116.90  117.30  5273001
249 2025-06-30  117.90  119.50  117.60  118.20  6879228

[250 rows x 6 columns]

In [17]:
from vnstock import Vnstock
import pandas as pd

# Danh s√°ch m√£ c·ªï phi·∫øu c·∫ßn l·∫•y
tickers = ['FPT', 'VNM', 'HPG', 'VCB']

# Kh·ªüi t·∫°o ƒë·ªëi t∆∞·ª£ng
vns = Vnstock()

# T·∫°o DataFrame r·ªóng ƒë·ªÉ l∆∞u gi√° ƒë√≥ng c·ª≠a
close_prices = pd.DataFrame()

# L·∫∑p qua t·ª´ng m√£ ƒë·ªÉ l·∫•y d·ªØ li·ªáu
for ticker in tickers:
    stock = vns.stock(symbol=ticker, source='HOSE')
    df = stock.quote.history(start='2025-01-01', end='2025-06-30', interval='1D')

    # ƒê·∫£m b·∫£o ch·ªâ l·∫•y ng√†y v√† gi√° ƒë√≥ng c·ª≠a
    df = df[['date', 'close']].copy()
    df.rename(columns={'close': ticker}, inplace=True)

    # Merge v√†o DataFrame t·ªïng theo ng√†y
    if close_prices.empty:
        close_prices = df
    else:
        close_prices = pd.merge(close_prices, df, on='date', how='outer')

# S·∫Øp x·∫øp theo ng√†y
close_prices = close_prices.sort_values('date').reset_index(drop=True)

# Xu·∫•t ra file Excel
close_prices.to_excel('HSX_Close_Prices_2025.xlsx', index=False)
print("‚úÖ File ƒë√£ l∆∞u: HSX_Close_Prices_2025.xlsx")

2025-07-12 04:12:43 - vnstock.common.data.data_explorer - INFO - TCBS kh√¥ng cung c·∫•p th√¥ng tin danh s√°ch. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ VCI.
INFO:vnstock.common.data.data_explorer:TCBS kh√¥ng cung c·∫•p th√¥ng tin danh s√°ch. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ VCI.

'/content/drive/MyDrive/TruÃÅc/FPT_Stock_Data_2025.xlsx'

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
# T·∫•t c·∫£ dataframe d·ªØ li·ªáu s·∫Ω ƒë∆∞·ª£c g√°n thu·ªôc t√≠nh t√™n v√† lo·∫°i t√†i s·∫£n t∆∞∆°ng ·ª©ng
print(f'M√£ ch·ª©ng kho√°n: {df.name}')
print(f'Lo·∫°i t√†i s·∫£n: {df.category}')

AttributeError: 'DataFrame' object has no attribute 'name'

##### H·ª£p ƒë·ªìng t∆∞∆°ng lai

In [ ]:
stock.quote.history(symbol='VN30F1M', start='2024-01-02', end='2025-03-19', interval='1D')

In [ ]:
stock.quote.history(symbol='VN30F2411', start='2024-01-02', end='2025-03-19', interval='1D')

##### Ch·ªâ s·ªë

In [ ]:
stock.quote.history(symbol='VNINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

In [ ]:
stock.quote.history(symbol='HNXINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

In [ ]:
stock.quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

##### Ch·ª©ng quy·ªÅn

In [ ]:
stock.quote.history(symbol='CFPT2314', start='2024-01-02', end='2025-03-19', interval='1D')

##### Tr√°i phi·∫øu ni√™m y·∫øt

In [ ]:
stock.quote.history(symbol='CII424002', start='2024-01-02', end='2025-03-19', interval='1D')

#### Intraday: d·ªØ li·ªáu kh·ªõp l·ªánh

In [ ]:
# D·ªØ li·ªáu kh·ªõp l·ªánh trong ng√†y giao d·ªãch realtime ho·∫∑c ng√†y g·∫ßn nh·∫•t (ngo√†i gi·ªù giao d·ªãch)
stock.quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

                          time  price  volume match_type         id
0    2025-05-06 09:15:00+07:00  24.05     300       Sell  293457579
1    2025-05-06 09:15:00+07:00  24.05    1500       Sell  293457611
2    2025-05-06 09:15:00+07:00  24.05     100       Sell  293457610
3    2025-05-06 09:15:00+07:00  24.05     100       Sell  293457609
4    2025-05-06 09:15:00+07:00  24.05     100       Sell  293457608
...                        ...    ...     ...        ...        ...
3602 2025-05-06 14:45:00+07:00  24.00    1000       Sell  293939232
3603 2025-05-06 14:45:00+07:00  24.00    1000       Sell  293939231
3604 2025-05-06 14:45:00+07:00  24.00     100       Sell  293939230
3605 2025-05-06 14:45:00+07:00  24.00    3000       Sell  293939225
3606 2025-05-06 14:45:00+07:00  24.00     500       Sell  293939391

[3607 rows x 5 columns]

In [ ]:
# B∆∞·ªõc gi√° v√† kh·ªëi l∆∞·ª£ng giao d·ªãch: realtime
stock.quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  26200     128800         128800               0                    0
1  26150     732200         318600          413600                    0
2  26100    1240700         431600          809100                    0
3  26050     773500         204800          568700                    0
4  26000    3369900         486900         2252400               630600
5  25950     404000              0          404000                    0

## Trading: Giao d·ªãch

### B·∫£ng gi√°

In [ ]:
stock.trading.price_board(['ACB'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     ACB   27950  24350     26150      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0   4466657912  STOCK  8424512  ...       25900       469600       25850

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0       151300       26000          200       26050       734100       26100


  ask_3_volume
0       175600

[1 rows x 41 columns]

In [ ]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # B·ªè .T ƒë·ªÉ xoay tr·ªü l·∫°i ƒë√∫ng ki·ªÉu hi·ªÉn th·ªã b·∫£ng gi√°

                                                                                  0  \
listing symbol                                                                  VCB
        ceiling                                                               70400
        floor                                                                 61200
        ref_price                                                             65800
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     8355691435
        type                                                                  STOCK
        id                                                                  8424561
        organ_name                Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªát...
        prior_close_price                                                     65800
        benefit
        trading_date                                                     2025-03-27
match   match_price                                                           65500
        match_vol                                                             52700
        accumulated_volume                                                   901500
        accumulated_value                                                     59265
        avg_match_price                                                65740.432612
        highest                                                               65900
        lowest                                                                65500
        match_type                                                          unknown
        foreign_sell_volume                                                  364709
        foreign_buy_volume                                                   287500
        current_room                                                      407163890
        total_room                                                       1676727378
        total_accumulated_value                                            59265.82
        total_accumulated_volume                                               9015
        reference_price                                                       65800
bid_ask bid_1_price                                                           65500
        bid_1_volume                                                         140600
        bid_2_price                                                           65400
        bid_2_volume                                                          20100
        bid_3_price                                                           65300
        bid_3_volume                                                          41700
        ask_1_price                                                           65600
        ask_1_volume                                                           2500
        ask_2_price                                                           65700
        ask_2_volume                                                           8400
        ask_3_price                                                           65800
        ask_3_volume                                                          26500

                                                                    1  \
listing symbol                                                    ACB
        ceiling                                                 27950
        floor                                                   24350
        ref_price                                               26150
        stock_type                                              STOCK
        exchange                                                  HSX
        last_trading_date
        listed_share                                       4466657912
        type                                                    STOCK
        id                                                    8424512
        organ_name                Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u
        prior_close_price                                       26150
        benefit
        trading_date                                       2025-03-27
match   match_price                                             26000
        match_vol                                              451200
        accumulated_volume                                    6649100
        accumulated_value                                      173154
        avg_match_price                                  26041.719932
        highest                                                 26200
        lowest                                                  25950
        match_type                                            unknown
        foreign_sell_volume                                         0
        foreign_buy_volume                                          0
        current_room                                                0
        total_room                                         1339997373
        total_accumulated_value                            173154.735
        total_accumulated_volume                                66491
        reference_price                                         26150
bid_ask bid_1_price                                             25950
        bid_1_volume                                           260800
        bid_2_price                                             25900
        bid_2_volume                                           469600
        bid_3_price                                             25850
        bid_3_volume                                           151300
        ask_1_price                                             26000
        ask_1_volume                                              200
        ask_2_price                                             26050
        ask_2_volume                                           734100
        ask_3_price                                             26100
        ask_3_volume                                           175600

                                                                                2  \
listing symbol                                                                TCB
        ceiling                                                             29950
        floor                                                               26050
        ref_price                                                           28000
        stock_type                                                          STOCK
        exchange                                                              HSX
        last_trading_date
        listed_share                                                   7064851739
        type                                                                STOCK
        id                                                                8424683
        organ_name                Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn K·ªπ th∆∞∆°ng Vi·ªát Nam
        prior_close_price                                                   28000
        benefit
        trading_date                                                   2025-03-27
match   match_price                                                         27750
        match_vol                                                          665000
        accumulated_volume                                                7518900
        accumulated_value                                                  210396
        avg_match_price                                              27982.284643
        highest                                                             28150
        lowest                                                              27750
        match_type                                                        unknown
        foreign_sell_volume                                                421488
        foreign_buy_volume                                                 766888
        current_room                                                            0
        total_room                                                     1590552461
        total_accumulated_value                                         210396.96
        total_accumulated_volume                                            75189
        reference_price                                                     28000
bid_ask bid_1_price                                                         27750
        bid_1_volume                                                       196200
        bid_2_price                                                         27700
        bid_2_volume                                                       125500
        bid_3_price                                                         27650
        bid_3_volume                                                         5400
        ask_1_price                                                         27800
        ask_1_volume                                                       111200
        ask_2_price                                                         27850
        ask_2_volume                                                        23100
        ask_3_price                                                         27900
        ask_3_volume                                                       155200

                                                                                  3
listing symbol                                                                  BID
        ceiling                                                               42300
        floor                                                                 36800
        ref_price                                                             39550
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     6897515268
        type                                                                  STOCK
        id                                                                  8424583
        organ_name                Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn ƒê·∫ßu t∆∞ v√† Ph√°t tr...
        prior_close_price                                                     39550
        benefit
        trading_date                                                     2025-03-27
match   match_price                                                           39100
        match_vol                                                            182000
        accumulated_volume                                                  1862400
        accumulated_value                                                     73069
        avg_match_price                                                39233.784364
        highest                                                               39650
        lowest                                                                39100
        match_type                                                          unknown
        foreign_sell_volume                                                   32778
        foreign_buy_volume                                                     4400
        current_room                                                      869040725
        total_room                                                       2106408575
        total_accumulated_value                                            73069.39
        total_accumulated_volume                                              18624
        reference_price                                                       39550
bid_ask bid_1_price                                                           39100
        bid_1_volume                                                         100000
        bid_2_price                                                           39050
        bid_2_volume                                                          36500
        bid_3_price                                                           39000
        bid_3_volume                                                         301900
        ask_1_price                                                           39150
        ask_1_volume                                                          30000
        ask_2_price                                                           39200
        ask_2_volume                                                           5000
        ask_3_price                                                           39250
        ask_3_volume                                                          12600

## Company: Th√¥ng tin c√¥ng ty

> ƒê√£ b·ªï sung ngu·ªìn d·ªØ li·ªáu t·ª´ VCI t·ª´ b·∫£n Vnstock3.2.0

### New - VCI

In [ ]:
# # Kh·ªüi t·∫°o ƒë·ªëi t∆∞·ª£ng
# from vnstock import Vnstock
# company = Vnstock().stock(symbol='ACB', source='VCI').company

# ho·∫∑c
from vnstock.explorer.vci import Company
company = Company('ACB')

Lo·∫°i b·ªè ƒëo·∫°n m√£ `.head()` ƒë·ªÉ xem to√†n b·ªô d·ªØ li·ªáu thay v√¨ ch·ªâ l·∫•y 5 d√≤ng ƒë·∫ßu ti√™n.

#### H·ªì s∆°

In [ ]:
company.overview()

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,4466657912,- Ng√†y 24/04/1993: Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph...,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u (ACB) ƒë∆∞·ª£c...,Ng√¢n h√†ng,Ng√¢n h√†ng,Ng√¢n h√†ng,4466657900,44666579120000

#### C·ªï ƒë√¥ng

In [ ]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,76868950,Vietnam Enterprise Investments Limited,212880184,5.480880e-02,2024-09-13
1,76863823,Sather Gate Investments Limited,193907186,4.990000e-02,2024-05-15
2,76861604,Ph·∫°m Th·ªã Thu H√†,285000,4.990000e-02,2016-05-20
3,76845328,Estes Investments Limited,83010435,4.990000e-02,2024-05-15
4,76865801,Tr·∫ßn H√πng Huy,153062159,3.940000e-02,2025-01-24
...,...,...,...,...,...
81,76858006,Nguy·ªÖn Th·ªã Tuy·∫øt V√¢n,88722,1.730000e-05,2025-01-24
82,76863346,Qu·ªπ ƒê·∫ßu t∆∞ C·ªï phi·∫øu NƒÉng ƒë·ªông B·∫£o Vi·ªát,22065,1.327000e-05,2025-02-03
83,76843608,ƒêinh Th·ªã Hoa,67200,1.200000e-05,2025-01-24
84,76839576,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n Thi√™n Vi·ªát,5285,1.500000e-06,2022-07-25
85,76853275,Nguy·ªÖn H·ªìng Nga,2008,7.000000e-07,2022-08-31

#### C√¥ng ty con

In [ ]:
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name,type
0,21757755,ACBA,1,C√¥ng Ty TNHH Qu·∫£n L√Ω N·ª£ V√† Khai Th√°c T√†i S·∫£n N...,c√¥ng ty con
1,21757756,ACBL,1,C√¥ng Ty TNHH M·ªôt Th√†nh Vi√™n Cho Thu√™ T√†i Ch√≠nh...,c√¥ng ty con
2,21757757,ACBS,1,C√¥ng ty TNHH Ch·ª©ng kho√°n ACB,c√¥ng ty con
0,21757759,ACBD,None,C√îNG TY C·ªî PH·∫¶N D·ªäCH V·ª§ B·∫¢O V·ªÜ NG√ÇN H√ÄNG √Å CH√ÇU,c√¥ng ty li√™n k·∫øt
1,21757758,SGGS,None,C√¥ng ty C·ªï ph·∫ßn S√†i G√≤n Kim ho√†n ACB- SJC,c√¥ng ty li√™n k·∫øt

#### C√¥ng ty li√™n k·∫øt

In [ ]:
# Ph∆∞∆°ng th·ª©c n√†y kh√¥ng c√≥ trong ngu·ªìn TCBS
company.affiliate()

,id,sub_organ_code,organ_name,ownership_percent
0,21757759,ACBD,C√îNG TY C·ªî PH·∫¶N D·ªäCH V·ª§ B·∫¢O V·ªÜ NG√ÇN H√ÄNG √Å CH√ÇU,None
1,21757758,SGGS,C√¥ng ty C·ªï ph·∫ßn S√†i G√≤n Kim ho√†n ACB- SJC,None

#### L√£nh ƒë·∫°o

In [ ]:
company.officers(filter_by='working').head() # filter_by='all' ho·∫∑c 'working' ho·∫∑c 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,6,Tr·∫ßn H√πng Huy,Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,Ch·ªß t·ªãch HƒêQT,2025-01-24,0.0394,153062159
1,7,ƒê·∫∑ng Thu Th·ªßy,Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,TV HƒêQT,2025-01-24,0.0137,53350036
2,11,ƒê·∫∑ng Ph√∫ Vinh,Gi√°m ƒë·ªëc kh·ªëi,Gƒê Kh·ªëi,2025-01-24,0.0042,16454507
3,13,ƒê·ªó Minh To√†n,T·ªïng Gi√°m ƒë·ªëc,TGƒê,2025-01-24,0.0008,3202886
4,8,Nguy·ªÖn Th√†nh Long,Ph√≥ Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,Ph√≥ Ch·ªß t·ªãch HƒêQT,2025-01-24,0.0004,1647067

#### Tin t·ª©c

In [ ]:
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,7009867,ACB: B√°o c√°o k·∫øt qu·∫£ giao d·ªãch c·ªï phi·∫øu c·ªßa t...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1742998200000,None,vi,11505980,ACB: B√°o c√°o k·∫øt qu·∫£ giao d·ªãch c·ªï phi·∫øu c·ªßa t...,<p>C√¥ng ty TNHH MTV Nh·∫≠t Qu√¢n HQ b√°o c√°o k·∫øt q...,26150,26300,24500,28100,-0.005703
1,7001147,ACB: B√°o c√°o th∆∞·ªùng ni√™n nƒÉm 2024,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1742901180000,None,vi,11504387,ACB: B√°o c√°o th∆∞·ªùng ni√™n nƒÉm 2024,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë...,26300,26350,24550,28150,-0.001898
2,6944486,ACB: C√¥ng ty TNHH MTV Nh·∫≠t Qu√¢n HQ ƒëƒÉng k√Ω b√°...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1742315220000,None,vi,11497368,ACB: Th√¥ng b√°o giao d·ªãch c·ªï phi·∫øu c·ªßa t·ªï ch·ª©c...,<p>C√¥ng ty TNHH MTV Nh·∫≠t Qu√¢n HQ¬†th√¥ng b√°o gia...,26300,26200,24400,28000,0.003817

#### S·ª± ki·ªán

In [ ]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,23057391,ACB - Tr·∫£ c·ªï t·ª©c C·∫£ nƒÉm nƒÉm 2022 b·∫±ng ti·ªÅn 100...,ACB - Pay cash dividend 2022 - Year at VND 100...,2023-05-25,2023-06-12,http://fiinpro.com/News/Detail/10793461?lang=v...,DIV,0.1,1000.0,2023-06-02,2023-06-01,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,Cash Dividend
1,38768795,ACB - Tr·∫£ c·ªï t·ª©c C·∫£ nƒÉm nƒÉm 2023 b·∫±ng ti·ªÅn 100...,ACB - Pay cash dividend 2023 - Year at VND 100...,2024-05-24,2024-06-13,http://fiinpro.com/News/Detail/11196089?lang=v...,DIV,0.1,1000.0,2024-06-03,2024-05-31,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,Cash Dividend
2,18129,Ph√°t h√†nh c·ªï phi·∫øu,,2010-11-18,2010-11-30,,ISS,NaN,NaN,2010-11-30,2010-11-26,Ph√°t h√†nh c·ªï phi·∫øu,Share Issue

#### B√°o c√°o ph√¢n t√≠ch

In [ ]:
company.reports()

,date,description,link,name
0,2025-01-22T00:00:00Z,Ng√¢n h√†ng Th∆∞∆°ng M·∫°i C·ªï Ph·∫ßn √Å Ch√¢u (ACB) ƒë√£ c...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - T·∫≠p trung v√†o tƒÉng tr∆∞·ªüng t√≠n d·ª•ng h∆°n t...
1,2024-10-24T00:00:00Z,Ng√¢n h√†ng TMCP √Å Ch√¢u (ACB) c√¥ng b·ªë KQKD 9 th√°...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB ‚Äì NOII th·∫•p h∆°n d·ª± ki·∫øn, ·∫£nh h∆∞·ªüng ti√™u c·ª±..."
2,2024-09-09T00:00:00Z,- Ch√∫ng t√¥i ti·∫øp t·ª•c duy tr√¨ gi√° m·ª•c ti√™u ƒë·ªëi ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +35,0%] - TƒÉng d·ª± b√°o tƒÉng tr∆∞·ªüng t√≠n..."
3,2024-07-23T00:00:00Z,ACB ƒë√£ c√¥ng b·ªë KQKD n·ª≠a ƒë·∫ßu nƒÉm 2024 v·ªõi thu n...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - T√≠n d·ª•ng tƒÉng tr∆∞·ªüng m·∫°nh, ch·∫•t l∆∞·ª£ng t√†..."
4,2024-06-04T00:00:00Z,"- Ch√∫ng t√¥i ƒëi·ªÅu ch·ªânh tƒÉng 8,6% gi√° m·ª•c ti√™u ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +33,7%] - NIM t∆∞∆°ng ƒë·ªëi ƒëi ngang tron..."
5,2024-04-26T00:00:00Z,"ACB ƒë√£ c√¥ng b·ªë KQKD qu√Ω 1/2024 v·ªõi TOI ƒë·∫°t 8,2...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB ‚Äì NOII th·∫•p, ch·∫•t l∆∞·ª£ng t√†i s·∫£n ƒë∆∞·ª£c duy t..."
6,2024-04-04T00:00:00Z,Ch√∫ng t√¥i ƒë√£ tham d·ª± ƒêHCƒê c·ªßa Ng√¢n h√†ng TMCP √Å...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - T√≠n d·ª•ng tƒÉng tr∆∞·ªüng m·∫°nh, duy tr√¨ t·ª∑ l·ªá..."
7,2024-03-05T00:00:00Z,"- Ch√∫ng t√¥i ƒëi·ªÅu ch·ªânh tƒÉng 7,6% gi√° m·ª•c ti√™u ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +26,3%] - TƒÉng tr∆∞·ªüng ·ªïn ƒë·ªãnh nh·ªù cho..."
8,2024-01-26T00:00:00Z,"ACB c√¥ng b·ªë KQKD nƒÉm 2023 v·ªõi TOI ƒë·∫°t 32,7 ngh...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB ‚Äì TƒÉng tr∆∞·ªüng t√≠n d·ª•ng v∆∞·ª£t k·ª≥ v·ªçng, l·ª£i n..."
9,2023-11-15T00:00:00Z,- Ch√∫ng t√¥i ƒëi·ªÅu ch·ªânh tƒÉng gi√° m·ª•c ti√™u cho N...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +42,7%] - Chi·∫øn l∆∞·ª£c r·ªßi ro th·∫•p mang..."

#### T√¨nh h√¨nh t√†i ch√≠nh

In [ ]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,ACB,2024,5,1741199572843,50902749000000,-0.027586,16789768000000,0.046435,0,0.217459,...,0,1.868549,0,0,0,0,0,0,None,0

#### Th·ªëng k√™ giao d·ªãch

In [ ]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,ACB,HOSE,116803104085000,28100,24500,26300,26300,26150,26150,-150,...,26800,22218,0.170337,-0.018762,0,1339997373,6998548,1339997373,0.3,0.3

### TCBS

In [ ]:
from vnstock import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

2025-03-27 22:37:18 - vnstock.common.data.data_explorer - INFO - TCBS kh√¥ng cung c·∫•p th√¥ng tin danh s√°ch. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ VCI.

#### T·ªïng quan

In [ ]:
company.overview()

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,VCB,HOSE,Ng√¢n h√†ng,NH,25183,0.227,8355.7,5589.1,2008,24306,2.6,-0.019,0.045,-0.016,Vietcombank,https://vietcombank.com.vn,289,8355

#### H·ªì s∆°

In [ ]:
company.profile()

,symbol,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,VCB,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªát...,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªá...,Ng√†y 30/10/1962: Ng√¢n h√†ng Ngo·∫°i th∆∞∆°ng Vi·ªát...,None,R·ªßi ro ƒë·ªãa ch√≠nh tr·ªã v√† nguy c∆° chi·∫øn tranh ...,D·ªãch v·ª• t√†i kho·∫£n D·ªãch v·ª• huy ƒë·ªông v·ªën (ti·ªÅn...,"Ng√¢n h√†ng s·ªë 1 t·∫°i Vi·ªát Nam, m·ªôt trong 100 ng..."

#### C·ªï ƒë√¥ng

In [ ]:
company.shareholders()

                  share_holder  share_own_percent
0  Ng√¢n H√†ng Nh√† N∆∞·ªõc Vi·ªát Nam             0.7480
1          Mizuho Bank Limited             0.1500
2                         Kh√°c             0.0207

#### Giao d·ªãch n·ªôi b·ªô

In [ ]:
company.insider_deals().head(3)

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2025-02-20,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,10000.0,61338.0,0.068
1,2023-12-21,C·ªï ƒë√¥ng n·ªôi b·ªô,Mua,5000.0,54114.0,0.210
2,2020-12-30,C·ªï ƒë√¥ng s√°ng l·∫≠p,B√°n,-2523.0,42927.0,0.526

#### C√¥ng ty con, li√™n k·∫øt

In [ ]:
company.subsidiaries().head()

                                    sub_company_name  sub_own_percent
0  C√¥ng ty TNHH Ch·ª©ng kho√°n Ng√¢n h√†ng Th∆∞∆°ng m·∫°i ...              1.0
1  C√¥ng Ty TNHH M·ªôt Th√†nh Vi√™n Ki·ªÅu H·ªëi Ng√¢n H√†ng...              1.0
2  C√¥ng ty TNHH MTV Cho Thu√™ T√†i Ch√≠nh Ng√¢n H√†ng ...              1.0
3      C√¥ng ty TNHH T√†i Ch√≠nh Vi·ªát Nam T·∫°i H·ªìng K√¥ng              1.0
4   Ng√¢n H√†ng TNHH MTV Ngo·∫°i Th∆∞∆°ng Vi·ªát Nam T·∫°i L√†o              1.0

#### Ban l√£nh ƒë·∫°o

In [ ]:
company.officers().head()

         officer_name              officer_position  officer_own_percent
3   Nguy·ªÖn Danh L∆∞∆°ng  Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã                  0.0
10     L√™ Th·ªã Kim Nga  Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã                  0.0
15         L√™ Th·ªã Hoa  Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã                  0.0
12   ƒê·ªó Th·ªã Mai H∆∞∆°ng      Th√†nh vi√™n Ban ki·ªÉm so√°t                  0.0
5   Nguy·ªÖn Danh L∆∞∆°ng   Ph·ª• tr√°ch C√¥ng b·ªë th√¥ng tin                  0.0

#### S·ª± ki·ªán

In [ ]:
company.events().head()

The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,73.4,58.0,2584165,66700.0,1950.0,0.030,0.090,VCB - T·ªï ch·ª©c ƒêHƒêCƒê th∆∞·ªùng ni√™n 2025,AGME,2025-03-12,2025-04-26,2025-03-26,2025-03-25,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªát...
1,54.0,37.0,2583928,62542.0,334.0,0.005,0.006,"VCB - Ph√°t h√†nh c·ªï phi·∫øu tr·∫£ c·ªï t·ª©c t·ª∑ l·ªá 49,5%",ISS,2025-03-06,2025-03-12,2025-03-13,2025-03-12,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn Ngo·∫°i th∆∞∆°ng Vi·ªát...
2,46.6,29.0,2582516,61338.0,0.0,0.000,0.000,VCB - K·∫øt qu·∫£ giao d·ªãch n·ªôi b·ªô/CƒêL,DDALL,2025-02-20,2025-02-19,1753-01-01,1753-01-01,- C√° nh√¢n/T·ªï ch·ª©c th·ª±c hi·ªán giao d·ªãch: Ph√πng N...
3,55.4,44.0,2581736,62208.0,67.0,0.001,0.008,VCB - Th√¥ng b√°o ƒëƒÉng k√Ω giao d·ªãch n·ªôi b·ªô/CƒêL,DDALL,2025-02-07,2025-03-12,1753-01-01,1753-01-01,- C√° nh√¢n/T·ªï ch·ª©c th·ª±c hi·ªán giao d·ªãch: Ph√πng N...
4,52.8,52.0,2580835,61940.0,67.0,0.001,0.005,VCB - BCTC Qu√Ω 4/2024,KQQY,2025-01-24,2025-01-24,1753-01-01,1753-01-01,VCB - BCTC Qu√Ω 4/2024

#### Tin t·ª©c

In [ ]:
company.news().head()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,NaN,NaN,NaN,NaN,NaN,NaN,11507583,VCB: B√°o c√°o k·∫øt qu·∫£ ph√°t h√†nh c·ªï phi·∫øu ƒë·ªÉ tr...,TCBS,2025-03-27 15:04:00
1,NaN,NaN,NaN,NaN,NaN,NaN,11507578,VCB: Th√¥ng b√°o thay ƒë·ªïi s·ªë l∆∞·ª£ng c·ªï phi·∫øu c√≥ ...,TCBS,2025-03-27 14:56:00
2,70.4,70.0,66500.0,-300.0,-0.004,0.084,11498692,VCB: HƒêQT ph√™ duy·ªát ƒëi·ªÅu ch·ªânh gi·ªõi h·∫°n t√≠n d...,TCBS,2025-03-19 15:31:00
3,70.4,70.0,66500.0,-300.0,-0.004,0.084,11498688,VCB: HƒêQT ph√™ duy·ªát gi·ªõi h·∫°n t√≠n d·ª•ng ƒë·ªëi v·ªõi...,TCBS,2025-03-19 15:30:00
4,68.2,63.0,66000.0,500.0,0.008,0.077,11494381,VCB: Ngh·ªã quy·∫øt HƒêQT v·ªÅ vi·ªác ph√™ duy·ªát gi·ªõi h...,TCBS,2025-03-14 17:15:00

#### C·ªï t·ª©c

In [ ]:
company.dividends().head()

  exercise_date  cash_year  cash_dividend_percentage issue_method
0    2025-03-12       2025                     0.495        share
1    2023-07-25       2023                     0.181        share
2    2021-12-22       2022                     0.276        share
3    2021-12-22       2020                     0.120         cash
4    2020-12-21       2019                     0.080         cash

## Finance: B√°o c√°o t√†i ch√≠nh

In [ ]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='ACB', source='VCI')

### B·∫£ng c√¢n ƒë·ªëi k·∫ø to√°n

In [ ]:
stock.finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,NƒÉm,T·ªîNG C·ªòNG T√ÄI S·∫¢N (ƒë·ªìng),Ti·ªÅn v√† t∆∞∆°ng ƒë∆∞∆°ng ti·ªÅn (ƒë·ªìng),Ti·ªÅn g·ª≠i t·∫°i ng√¢n h√†ng nh√† n∆∞·ªõc Vi·ªát Nam,Ti·ªÅn g·ª≠i t·∫°i c√°c TCTD kh√°c v√† cho vay c√°c TCTD kh√°c,Ch·ª©ng kho√°n kinh doanh,_Ch·ª©ng kho√°n kinh doanh,D·ª± ph√≤ng gi·∫£m gi√° ch·ª©ng kho√°n kinh doanh,C√°c c√¥ng c·ª• t√†i ch√≠nh ph√°i sinh v√† kho·∫£n n·ª£ t√†i ch√≠nh kh√°c,...,Ti·ªÅn g·ª≠i c·ªßa kh√°ch h√†ng,_C√°c c√¥ng c·ª• t√†i ch√≠nh ph√°i sinh v√† kho·∫£n n·ª£ t√†i ch√≠nh kh√°c,"V·ªën t√†i tr·ª£, u·ª∑ th√°c ƒë·∫ßu t∆∞ c·ªßa CP v√† c√°c t·ªï ch·ª©c TD kh√°c",Ph√°t h√†nh gi·∫•y t·ªù c√≥ gi√°,C√°c kho·∫£n n·ª£ kh√°c,V·ªêN CH·ª¶ S·ªû H·ªÆU (ƒë·ªìng),V·ªën c·ªßa t·ªï ch·ª©c t√≠n d·ª•ng,Qu·ªπ c·ªßa t·ªï ch·ª©c t√≠n d·ª•ng,L√£i ch∆∞a ph√¢n ph·ªëi (ƒë·ªìng),V·ªën g√≥p c·ªßa ch·ªß s·ªü h·ªØu (ƒë·ªìng)
0,ACB,2024,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,55992000000,...,537304578000000,0,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,23733752000000,44666579000000
1,ACB,2023,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,0,...,482702731000000,117126000000,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,20286243000000,38840504000000
2,ACB,2022,607875185000000,8460892000000,13657531000000,85971313000000,1131327000000,1320941000000,-189614000000,100072000000,...,413952789000000,0,60188000000,44304367000000,22772462000000,58438663000000,34046130000000,9220125000000,15172408000000,33774351000000
3,ACB,2021,527769944000000,7509877000000,32349574000000,49818776000000,11259731000000,11325371000000,-65640000000,226545000000,...,379920669000000,0,86066000000,30547883000000,17920478000000,44900909000000,27291260000000,7164297000000,10445352000000,27019481000000
4,ACB,2020,444530104000000,6967918000000,16616798000000,31671245000000,6167917000000,6285763000000,-117846000000,54473000000,...,353195838000000,0,116705000000,22049697000000,9844459000000,35448163000000,21887364000000,5741759000000,7819040000000,21615585000000
5,ACB,2019,383514439000000,6437812000000,10420306000000,30341599000000,2985262000000,3145903000000,-160641000000,87753000000,...,308129391000000,0,156147000000,20830836000000,7384134000000,27765359000000,16799171000000,4595902000000,6370286000000,16627373000000
6,ACB,2018,329333241000000,6129169000000,10683536000000,18769776000000,1177972000000,1339157000000,-161185000000,0,...,269998503000000,38198000000,160093000000,8290918000000,6035148000000,21017899000000,12220152000000,3693069000000,5104678000000,12885877000000
7,ACB,2017,284316123000000,4851710000000,8314574000000,8941727000000,1236555000000,1239991000000,-3436000000,0,...,241392932000000,10491000000,136466000000,6761000000000,4530641000000,16030847000000,9607514000000,2913780000000,3509553000000,10273239000000
8,ACB,2016,233680877000000,3541388000000,5119306000000,8152027000000,1183306000000,1211314000000,-28008000000,16065000000,...,207051269000000,0,122697000000,6615000000000,3594080000000,14062716000000,8711240000000,2590181000000,2761295000000,9376965000000
9,ACB,2015,201456985000000,2806088000000,4608680000000,10122200000000,100457000000,103034000000,-2577000000,47603000000,...,174918997000000,0,161678000000,3075000000000,2901457000000,12787542000000,8711240000000,2374178000000,1702124000000,9376965000000
10,ACB,2014,179609771000000,2496287000000,3357730000000,4559007000000,1105122000000,1108232000000,-3110000000,14403000000,...,154613588000000,0,188155000000,3078000000000,3187487000000,12397303000000,8711841000000,2207666000000,1477796000000,9376965000000
11,ACB,2013,166598989000000,2043490000000,3065322000000,7215519000000,851161000000,1078309000000,-227148000000,150000000,...,138110836000000,0,363345000000,3500000000000,2743684000000,12504202000000,9117544000000,2034952000000,1351706000000,9376965000000

In [ ]:
stock.finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,TOTAL ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Balances with the SBV,Placements with and loans to other credit institutions,"Trading Securities, net",Trading Securities,Provision for diminution in value of Trading Securities,...,"Funds received from Gov, international and other institutions",Convertible bonds/CDs and other valuable papers issued,Other liabilities,OWNER'S EQUITY(Bn.VND),Capital,Reserves,Foreign Currency Difference reserve,Undistributed earnings (Bn. VND),Paid-in capital (Bn. VND),MINORITY INTERESTS
0,ACB,2024,4,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,...,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,0,23733752000000,44666579000000,0
1,ACB,2024,3,777392922000000,5870526000000,8392393000000,92090423000000,6965867000000,7059448000000,-93581000000,...,31641000000,90366104000000,22478444000000,78854261000000,44938358000000,11557435000000,-62053000000,22420521000000,44666579000000,0
2,ACB,2024,2,769678700000000,6594138000000,15724945000000,105419092000000,6125105000000,6236053000000,-110948000000,...,33175000000,66953215000000,22365462000000,74792678000000,44938358000000,11557435000000,-253241000000,18550126000000,44666579000000,0
3,ACB,2024,1,727297968000000,6470319000000,7851936000000,121950918000000,7377873000000,7469189000000,-91316000000,...,37321000000,49011681000000,20710083000000,74790732000000,39112283000000,11557435000000,-70648000000,24191662000000,38840504000000,0
4,ACB,2023,4,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,...,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,0,20286243000000,38840504000000,0

### B√°o c√°o l√£i l·ªó

In [ ]:
stock.finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,NƒÉm,Doanh thu (ƒë·ªìng),TƒÉng tr∆∞·ªüng doanh thu (%),L·ª£i nhu·∫≠n sau thu·∫ø c·ªßa C·ªï ƒë√¥ng c√¥ng ty m·∫π (ƒë·ªìng),TƒÉng tr∆∞·ªüng l·ª£i nhu·∫≠n (%),Thu nh·∫≠p l√£i v√† c√°c kho·∫£n t∆∞∆°ng t·ª±,Chi ph√≠ l√£i v√† c√°c kho·∫£n t∆∞∆°ng t·ª±,Thu nh·∫≠p l√£i thu·∫ßn,Thu nh·∫≠p t·ª´ ho·∫°t ƒë·ªông d·ªãch v·ª•,...,Chi ph√≠ qu·∫£n l√Ω DN,LN t·ª´ HƒêKD tr∆∞·ªõc CF d·ª± ph√≤ng,Chi ph√≠ d·ª± ph√≤ng r·ªßi ro t√≠n d·ª•ng,LN tr∆∞·ªõc thu·∫ø,Thu·∫ø TNDN,Chi ph√≠ thu·∫ø TNDN hi·ªán h√†nh,Chi ph√≠ thu·∫ø TNDN ho√£n l·∫°i,L·ª£i nhu·∫≠n thu·∫ßn,C·ªï ƒë√¥ng c·ªßa C√¥ng ty m·∫π,L√£i c∆° b·∫£n tr√™n c·ªï phi·∫øu
0,ACB,2024,50902749000000,-0.027586,16789768000000,0.046435,50902749000000,-23108047000000,27794702000000,5464958000000,...,-10902603000000,22612156000000,-1606285000000,21005871000000,-4216103000000,-4199699000000,-16404000000,16789768000000,16789768000000,3669
1,ACB,2023,52346796000000,0.286199,16044733000000,0.172159,52346796000000,-27387226000000,24959570000000,4945751000000,...,-10874286000000,21872230000000,-1804231000000,20067999000000,-4023266000000,-3993022000000,-30244000000,16044733000000,16044733000000,3559
2,ACB,2022,40698834000000,0.207186,13688193000000,0.425446,40698834000000,-17165305000000,23533529000000,5057559000000,...,-11605045000000,17185022000000,-70814000000,17114208000000,-3426015000000,-3445611000000,19596000000,13688193000000,13688193000000,3486
3,ACB,2021,33713810000000,0.058327,9602746000000,0.249898,33713810000000,-14769018000000,18944792000000,4026460000000,...,-8229776000000,15334221000000,-3336109000000,11998112000000,-2395366000000,-2389079000000,-6287000000,9602746000000,9602746000000,2799
4,ACB,2020,31855748000000,0.124948,7682823000000,0.278353,31855748000000,-17273625000000,14582123000000,2803484000000,...,-7624268000000,10537041000000,-941153000000,9595888000000,-1913065000000,-1940681000000,27616000000,7682823000000,7682823000000,2808

In [ ]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
1,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0
2,ACB,2024,2,12474712000000,-0.081634,4468590000000,0.155915,12474712000000,-5363206000000,7111506000000,...,-2465618000000,6186393000000,-588150000000,5598243000000,-1129653000000,-1075344000000,-54309000000,4468590000000,4468590000000,779
3,ACB,2024,1,11987594000000,-0.093516,3905419000000,-0.055528,11987594000000,-5266076000000,6721518000000,...,-2763921000000,5404530000000,-512217000000,4892313000000,-986894000000,-1066922000000,80028000000,3905419000000,3905419000000,1006
4,ACB,2023,4,12515015000000,0.051202,4006279000000,0.395664,12515015000000,-6225399000000,6289616000000,...,-3013248000000,5365215000000,-321641000000,5043574000000,-1037295000000,-975257000000,-62038000000,4006279000000,4006279000000,1031

### B√°o c√°o l∆∞u chuy·ªÉn ti·ªÅn t·ªá

In [ ]:
stock.finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Profits from other activities,Operating profit before changes in working capital,Net Cash Flows from Operating Activities before BIT,Payment from reserves,Purchase of fixed assets,Gain on Dividend,Net Cash Flows from Investing Activities,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Cash and Cash Equivalents at the end of period,Net cash inflows/outflows from operating activities,Proceeds from disposal of fixed assets,Investment in other entities,Proceeds from divestment in other entities,Dividends paid
0,ACB,2024,-164089000000,16709886000000,8371480000000,-1249000000,-919740000000,35058000000,-733310000000,-3884051000000,3752870000000,136071738000000,139824608000000,8370231000000,147865000000,0,3507000000,-3884051000000
1,ACB,2023,-18340000000,19421985000000,37137701000000,-1500000000,-1276249000000,74955000000,-1197256000000,-3377435000000,32561510000000,103510228000000,136071738000000,37136201000000,4038000000,0,0,-3377435000000
2,ACB,2022,152049000000,16413910000000,21476002000000,-201463000000,-511513000000,59599000000,-365878000000,0,20908661000000,82601567000000,103510228000000,21274539000000,4741000000,-10520000000,6451000000,0
3,ACB,2021,-94964000000,12326573000000,39927382000000,-1483000000,-636100000000,21979000000,-462403000000,-2884000000000,36579496000000,46022071000000,82601567000000,39925899000000,3265000000,0,0,0
4,ACB,2020,67987000000,9688384000000,10880417000000,-1156000000,-423132000000,17573000000,-395503000000,-140600000000,10343158000000,35678913000000,46022071000000,10879261000000,3336000000,0,0,0

In [ ]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
1,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0
2,ACB,2024,2,12474712000000,-0.081634,4468590000000,0.155915,12474712000000,-5363206000000,7111506000000,...,-2465618000000,6186393000000,-588150000000,5598243000000,-1129653000000,-1075344000000,-54309000000,4468590000000,4468590000000,779
3,ACB,2024,1,11987594000000,-0.093516,3905419000000,-0.055528,11987594000000,-5266076000000,6721518000000,...,-2763921000000,5404530000000,-512217000000,4892313000000,-986894000000,-1066922000000,80028000000,3905419000000,3905419000000,1006
4,ACB,2023,4,12515015000000,0.051202,4006279000000,0.395664,12515015000000,-6225399000000,6289616000000,...,-3013248000000,5365215000000,-321641000000,5043574000000,-1037295000000,-975257000000,-62038000000,4006279000000,4006279000000,1031

### Ch·ªâ s·ªë t√†i ch√≠nh

In [ ]:
stock.finance.ratio(period='year', lang='vi', dropna=True).head()

  Meta          Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën                      \
    CP   NƒÉm K·ª≥            TSCƒê / V·ªën CSH V·ªën CSH/V·ªën ƒëi·ªÅu l·ªá
0  ACB  2024  5                  0.064849            1.868549
1  ACB  2023  5                  0.067120            1.588569
2  ACB  2022  5                  0.068129            1.308331
3  ACB  2021  5                  0.083797            1.005246
4  ACB  2020  5                  0.106712            0.793617

  Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i                                         \
     Bi√™n l·ª£i nhu·∫≠n r√≤ng (%)   ROE (%)   ROA (%) T·ª∑ su·∫•t c·ªï t·ª©c (%)
0                   0.604064  0.217459  0.021215           0.000000
1                   0.642829  0.247997  0.024188           0.038760
2                   0.581646  0.264917  0.024106           0.041841
3                   0.506881  0.239026  0.019753           0.000000
4                   0.526866  0.243075  0.018557           0.000000

  Ch·ªâ ti√™u thanh kho·∫£n Ch·ªâ ti√™u ƒë·ªãnh gi√°                                      \
     ƒê√≤n b·∫©y t√†i ch√≠nh V·ªën h√≥a (T·ª∑ ƒë·ªìng) S·ªë CP l∆∞u h√†nh (Tri·ªáu CP)       P/E
0            10.352125   116803104085000                4466657900  6.956803
1            10.130151   100208500320000                3884050400  6.405255
2            10.401935    80720698890000                3377435100  5.962443
3            11.754104    59172663390000                2701948100  6.259839
4            12.540286    74573768250000                2161558500  9.899843


        P/B       P/S P/Cash Flow    EPS (VND)    BVPS (VND)
0  1.399482  3.485124   13.954585  3758.910661  18685.486972
1  1.412263  3.060127    2.698405  4130.928116  18268.547957
2  1.381289  2.803769    3.794240  4052.836722  17302.675335
3  1.317850  2.511147    1.482062  3554.008310  16617.976119
4  2.103741  4.106189    6.854672  3554.297975  16399.353985

In [ ]:
stock.finance.ratio(period='quarter', lang='en', dropna=True).head()

    Meta                         Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën  \
  ticker yearReport lengthReport               Debt/Equity
0    ACB       2024            4                  9.352125
1    ACB       2024            3                  8.858604
2    ACB       2024            2                  9.290830
3    ACB       2024            1                  8.724440
4    ACB       2023            4                  9.130151

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.064849                       1.868549
1              0.058881                       1.765397
2              0.062380                       1.674466
3              0.062450                       1.674423
4              0.067120                       1.588569

  Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i                                                  \
       Net Profit Margin (%)   ROE (%) ROIC (%)   ROA (%) Dividend yield (%)
0                   0.641974  0.217459      0.0  0.021215           0.038241
1                   0.562444  0.217115      0.0  0.021717           0.040568
2                   0.628361  0.228530      0.0  0.022928           0.038536
3                   0.581032  0.229671      0.0  0.023211           0.041667
4                   0.636967  0.247997      0.0  0.024188           0.035714

  Ch·ªâ ti√™u thanh kho·∫£n        Ch·ªâ ti√™u ƒë·ªãnh gi√°  \
    Financial Leverage Market Capital (Bn. VND)
0            10.352125             1.168031e+14
1             9.858604             1.101031e+14
2            10.290830             1.159098e+14
3             9.724440             1.071998e+14
4            10.130151             1.087534e+14

                                                                             \
  Outstanding Share (Mil. Shares)       P/E       P/B       P/S P/Cash Flow
0                    4.466658e+09  6.956803  1.399482  3.485124   13.954586
1                    4.466658e+09  6.775292  1.396286  3.302936  -21.381995
2                    4.466658e+09  7.059978  1.549748  3.447304    7.010521
3                    4.466658e+09  6.778309  1.433330  3.248989    3.143473
4                    3.884050e+09  6.778138  1.532689  3.321068    2.928501


     EPS (VND)    BVPS (VND)
0  1017.620801  18685.486922
1   866.508042  17653.973632
2  1000.432558  16744.662223
3   874.349251  16744.226550
4  1031.469376  18268.548155

## New - B·ªô l·ªçc c·ªï phi·∫øu

H√†m n√†y ch·ªâ t·ªìn t·∫°i v·ªõi ngu·ªìn d·ªØ li·ªáu TCBS

In [ ]:
# from vnstock import Screener

screener_df = stock.screener.stock(params={"exchangeName": "HOSE,HNX,UPCOM"}, limit=1700)
screener_df

,ticker,exchange,industry,market_cap,roe,stock_rating,business_operation,business_model,financial_health,alpha,...,last_quarter_revenue_growth,second_quarter_revenue_growth,last_quarter_profit_growth,second_quarter_profit_growth,pct_1y_from_peak,pct_away_from_hist_peak,pct_1y_from_bottom,pct_off_hist_bottom,price_vs_sma100,heating_up
0,A32,UPCOM,H√†ng c√° nh√¢n & Gia d·ª•ng,NaN,NaN,NaN,1.7,3.5,2.6,0.1,...,NaN,NaN,NaN,NaN,-15.2,-40.9,33.1,213.5,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
1,AAA,HSX,H√≥a ch·∫•t,3234.0,6.8,2.3,1.5,3.0,4.0,-0.2,...,43.1,-9.5,-25.9,-78.0,-33.2,-63.1,4.2,263.1,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
2,AAM,HSX,Th·ª±c ph·∫©m v√† ƒë·ªì u·ªëng,73.0,-3.2,NaN,1.0,NaN,3.4,-0.1,...,-7.0,76.6,NaN,NaN,-27.5,-59.2,14.5,35.5,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
3,AAS,UPCOM,D·ªãch v·ª• t√†i ch√≠nh,1984.0,3.0,2.4,3.8,2.8,3.4,0.0,...,-36.8,-37.6,-71.6,-33.2,-12.2,-57.2,59.3,171.6,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
4,AAT,HSX,H√†ng c√° nh√¢n & Gia d·ª•ng,231.0,-0.9,2.3,1.6,2.9,3.0,-0.2,...,-43.4,-18.4,-224.3,264.1,-39.8,-82.7,6.6,1.2,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1608,XVC,UPCOM,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1609,YBC,UPCOM,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,185.0,-84.4,NaN,1.3,3.5,1.6,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1610,YBM,HSX,T√†i nguy√™n C∆° b·∫£n,206.0,7.3,NaN,1.9,3.7,2.2,0.3,...,44.2,7.1,-7.8,-45.9,-31.1,-26.6,57.1,480.4,Gi√° n·∫±m tr√™n SMA(100),None
1611,YEG,HSX,Truy·ªÅn th√¥ng,2810.0,9.0,1.9,2.0,2.4,3.4,0.3,...,139.9,209.4,384.8,325.6,-36.6,-92.1,85.0,292.4,Gi√° n·∫±m d∆∞·ªõi SMA(100),None
1612,YTC,UPCOM,Y t·∫ø,NaN,NaN,NaN,1.4,3.5,2.4,0.1,...,NaN,NaN,NaN,NaN,-51.4,-59.0,55.4,171.0,Gi√° n·∫±m d∆∞·ªõi SMA(100),None